.about-outer-wrapper,
.about-inner-wrapper,
.about-title-wrapper {
  display: flex;
  flex-direction: column;
}

.about-outer-wrapper {
  justify-content: center;
  align-items: center;
  width: var(--full-width);
  height: fit-content;
  background-color: var(--black);
  /* outline: 2px solid red; */
}

.about-inner-wrapper {
  align-items: center;
  width: var(--desktop-width);
  height: 100%;
  background-color: var(--black);
  /* outline: 2px solid blue; */
}

.about-title-wrapper {
  width: 100%;
  height: fit-content;
  /* outline: 2px solid blue; */
}

.about-title-wrapper img {
  width: 276px;
}

.about-text-wrapper {
  position: relative;
  width: 600px;
  /* height: fit-content; */
  margin: 50px 0 30px 0;
  padding: 0 0 14px 14px;
  /* outline: 2px solid white; */
}

.highlight {
  color: var(--yellow);
}

.about-text-wrapper p:nth-child(1) {
  margin-top: 0;
}

.about-text-wrapper p:nth-child(2) {
  margin-bottom: 0;
}

.about-text-wrapper p {
  font-size: 22px;
  color: var(--white);
  font-family: var(--body-font);
  letter-spacing: -0.3px;
}

.purple-border {
  width: 160px;
  height: 160px;
  position: absolute;
  left: -8px;
  bottom: 12px;
  border-bottom: 6px solid var(--purple);
  border-left: 6px solid var(--purple);
}

.squiggle-line {
  position: absolute;
  bottom: -8px;
  left: -6px;
}
.btn-wrapper {
  position: relative;
  width: 160px;
  height: 46px;
  /* outline: 2px solid red; */
}

.resume-btn {
  width: 162px;
  height: 40px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 5px 8px;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  font-family: var(--title-font);
  background-color: var(--white);
  transition: all 0.2s ease-out;
}

.resume-btn:hover {
  color: var(--black);
  background-color: var(--blue);
  transition: all 0.2s ease-out;
}

.resume-btn:active {
  color: var(--black);
  background-color: var(--purple);
  /* transition: all 0.2s ease-out; */
}

.resume-btn-underline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
}

/** Tablet View 1135px; */
/** Tablet View 1135px; */
/** Tablet View 1135px; */

@media (max-width: 1135px) {
  .about-inner-wrapper {
    width: 95%;
  }
  .about-title-wrapper {
    width: 100%;
    /* outline: 2px solid blue; */
  }

  .about-title-wrapper img {
    width: 226px;
    margin-left: 20px;
  }

  .about-text-wrapper {
    margin: 40px 0 30px 0;
    padding: 0 0 14px 14px;
    /* outline: 2px solid white; */
  }
} /*End Tablet View 1135px; */

/** Tablet View 800px; */
/** Tablet View 800px; */
/** Tablet View 800px; */

@media (max-width: 800px) {
  .about-inner-wrapper {
    width: 95%;
  }
  .about-title-wrapper {
    width: 100%;
    /* outline: 2px solid blue; */
  }

  .about-title-wrapper img {
    width: 220px;
    margin-left: 20px;
  }

  .about-text-wrapper {
    width: 90%;

    margin: 40px 0 30px 0;
    padding: 0 0 14px 14px;
    /* outline: 2px solid white; */
  }
} /*End Tablet View 800px; */

/** Tablet View 631px; */
/** Tablet View 631px; */
/** Tablet View 631px; */

@media (max-width: 631px) {
  .resume-btn-underline {
    bottom: -10px;
  }
} /*End Tablet View 631px; */

/** Tablet View 600px; */
/** Tablet View 600px; */
/** Tablet View 600px; */

@media (max-width: 600px) {
  .about-title-wrapper img {
    width: 180px;
    margin-left: 20px;
  }
} /*End Tablet View 600px; */
