.contact-outer-wrapper,
.contact-inner-wrapper,
.contact-title-wrapper,
.contact-icons-outer-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-outer-wrapper {
  justify-content: center;
  align-items: center;
  width: var(--full-width);
  height: 740px;
  background-color: var(--black);
  /* outline: 2px solid red; */
}

.contact-inner-wrapper {
  align-items: center;
  width: var(--desktop-width);
  height: 100%;
  background-color: var(--black);
  /* outline: 2px solid blue; */
}

.contact-title-wrapper {
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  /* outline: 2px solid blue; */
}

.contact-title-wrapper img {
  width: 358px;
}

/*& CONTACT FORM HERE */
/*& CONTACT FORM HERE */
/*& CONTACT FORM HERE */

.contact-icons-outer-wrapper {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
  height: 120px;
  border-bottom: 6px solid var(--white);
  /* outline: 2px solid green; */
}

.contact-icons-outer-wrapper a {
  cursor: pointer;
  text-decoration: none;
}

.email-wrapper img,
.linkedin-wrapper img,
.github-wrapper img,
.twitter-wrapper img {
  width: 70px;
  height: 70px;
  transition: all 0.3s ease-out;
  /* outline: 2px solid green; */
}

.email-wrapper img:hover,
.linkedin-wrapper img:hover,
.github-wrapper img:hover,
.twitter-wrapper img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}

.icon-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  font-family: var(--title-font);
  transition: all 0.3s ease-out;
}

.icon-text:hover {
  color: var(--blue);
  transition: all 0.3s ease-out;
}

.icon-text:active {
  text-decoration: underline;
}

.purple-triangle {
  position: absolute;
  bottom: -28px;
}

.contact-credit {
  margin: 60px auto 0;
  color: var(--white);
  font-size: 16px;
  font-family: var(--body-font);
}

.heart {
  font-size: 12px;
}

/** Tablet View 1135px; */
/** Tablet View 1135px; */
/** Tablet View 1135px; */

@media (max-width: 1135px) {
  .contact-inner-wrapper {
    width: 95%;
    /* outline: 2px solid blue; */
  }

  .contact-title-wrapper img {
    width: 308px;
    margin-left: 20px;

    /* outline: 2px solid blue; */
  }
} /* End Tablet View 1135px; */

/** Tablet View 1000px; */
/** Tablet View 1000px; */
/** Tablet View 1000px; */

@media (max-width: 1000px) {
  .contact-title-wrapper img {
    width: 290px;
    /* outline: 2px solid blue; */
  }
} /* Tablet View 1000px; */

/** Tablet View 800px; */
/** Tablet View 800px; */
/** Tablet View 800px; */

@media (max-width: 800px) {
  .contact-outer-wrapper {
    /* height: 540px; */
    padding-top: 30px;
  }

  .contact-icons-outer-wrapper {
    width: 90%;
    /* outline: 2px solid green; */
  }
} /* Tablet View 800px; */

/** Tablet View 650px; */
/** Tablet View 650px; */
/** Tablet View 650px; */

@media (max-width: 650px) {
  .contact-outer-wrapper {
    height: 540px;
    padding-top: 200px;
  }

  .contact-icons-outer-wrapper {
    width: 90%;
    outline: 2px solid green;
  }
} /* Tablet View 800px; */
