.projects-outer-wrapper,
.projects-inner-wrapper,
.title-wrapper,
.slideshow-wrapper,
.webpage-wrapper,
.slide,
.projects-active,
.description-outer-wrapper,
.title-wrapper,
.techstack-wrapper {
  display: flex;
}

.projects-outer-wrapper {
  justify-content: center;
  align-items: center;
  width: var(--full-width);
  height: 1000px;
  background-color: var(--black);
  /* outline: 2px solid red; */
}

.projects-inner-wrapper {
  flex-direction: column;
  justify-content: center;
  width: var(--desktop-width);
  height: 100%;
  background-color: var(--black);
  /* outline: 2px solid blue; */
}

.projects-title-wrapper {
  width: 100%;
  height: fit-content;
  /* outline: 2px solid blue; */
}

.projects-title-wrapper img {
  width: 384px;
  /* border: 2px solid red; */
}

.slideshow-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 50px 0 5px 0;
  /* outline: 2px solid green; */
}

.image {
  width: 1000px;
  padding: 0 10px;
  transition: all 0.2s ease-out;
  /* outline: 2px solid green; */
}

.slide,
.projects-active {
  justify-content: center;
  align-items: center;
  margin: 0;
  /* transition: all 0.2s ease-out; */
}

.left-btn,
.right-btn {
  height: 55px;
  width: 55px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  /* outline: 2px solid blue; */
}

.left-btn {
  margin-right: 20px;
}

.right-btn {
  margin-left: 20px;
}

.left-btn:hover,
.right-btn:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-out;
}

.description-outer-wrapper {
  flex-direction: row;
  color: var(--white);
  width: 400px;
  height: fit-content;
  margin: 5px 0 0 75px;
  /* outline: 2px solid red; */
}

.title-wrapper,
.techstack-wrapper {
  flex-direction: column;
  height: fit-content;
  /* outline: 2px solid green; */
}

.title-wrapper {
  width: 170px;
  height: fit-content;
  margin-right: 20px;
}

.techstack-wrapper {
}

.description-title,
.techstack {
  margin: 0 0 10px 0;
  color: var(--blue);
  font-family: var(--title-font);
  font-size: 25px;
  font-weight: 400;
}

.description-title {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.description-title:hover {
  color: var(--white);
  text-decoration: underline;
}

.description-text {
  margin: 0;
}

.description-text,
.tech-list li {
  color: var(--white);
  font-family: var(--body-font);
}

.techstack {
  color: var(--white);
}

.tech-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-list {
  margin: 0;
  padding: 0;
}

.tech-list li {
  margin: 0;
  padding: 0;
}

/** Tablet View 1135px; */
/** Tablet View 1135px; */
/** Tablet View 1135px; */

@media (max-width: 1135px) {
  .projects-inner-wrapper {
    width: 95%;
  }

  .projects-title-wrapper img {
    margin-left: 20px;
    width: 334px;
  }

  .slideshow-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 30px 10px 5px 10px;
    /* outline: 2px solid green; */
  }

  .webpage-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    /* outline: 2px solid blue; */
  }

  .image {
    width: 900px;
    padding: 0 10px;
    transition: all 0.2s ease-out;
    /* outline: 4px solid red; */
  }

  .slide,
  .projects-active {
    width: fit-content;
  }

  .image {
    width: 85%;
    padding: 0 10px;
    transition: all 0.2s ease-out;
    /* outline: 2px solid green; */
  }

  .left-btn,
  .right-btn {
    height: 40px;
    width: 40px;
  }

  .left-btn {
    margin-right: 10px;
  }

  .right-btn {
    margin-left: 10px;
  }
} /* End Tablet View 1135px; */

/** Tablet View 1000px; */
/** Tablet View 1000px; */
/** Tablet View 1000px; */

@media (max-width: 1000px) {
  .projects-title-wrapper img {
    margin-left: 20px;
    width: 300px;
  }

  .slideshow-wrapper {
    margin: 0;
    /* outline: 2px solid green; */
  }
} /* End tablet View 1000px; */

/** Mobile View 750px; */
/** Mobile View 750px; */
/** Mobile View 750px; */

@media (max-width: 750px) {
  .projects-title-wrapper img {
    width: 250px;
  }
} /* End Mobile View 750px; */

/** Mobile View 600px; */
/** Mobile View 600px; */
/** Mobile View 600px; */

@media (max-width: 600px) {
  .projects-title-wrapper img {
    width: 200px;
  }
} /* End Mobile View 600px; */
