/* Utility classes */

.spacer {
  background-color: var(--black);
  width: var(--full-width);
  border: 2px solid red;
}

.large {
  height: 385px;
}

.medium {
  height: 285px;
}

.small {
  height: 185px;
}
