/* Utility classes */

.spacer {
  background-color: var(--black);
  width: var(--full-width);
  /* border: 2px solid red; */
}

/* IS this too large? */
.large {
  height: 300px;
}

.medium {
  height: 200px;
}

.small {
  height: 100px;
}
