@import-normalize;

/* CSS Variable Declarations */

:root {
  --black: #000;
  --white: #fff;
  --blue: #0baff2;
  --purple: #4a48ad;
  --red: #e71724;
  --yellow: #fbe801;
  --title-font: "Bebas Neue", sans-serif;
  --body-font: "Poppins", sans-serif;
}

/* .App {
} */
